# local deployment
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=privisee
MYSQL_USER=privisee
MYSQL_PASSWORD=changeme

DB_HOST=mysql
DB_PORT=3306
DB_NAME=privisee
DB_USER=privisee
DB_PASSWORD=changeme

CORS_ORIGIN=*
